* {
  box-sizing: border-box;
}
.Input {
  margin: 30px;
}
.Input > div {
  margin-bottom: 10px;
  margin-right: 30px;
}
.Input > div > label {
padding-right:10px
}
.Input > div:last-of-type {
  margin: 0;
}
.Input select {
  outline: none;
}
.Output {
  margin: 45px;
  width: 200px;
}
.Output img {
  border-radius: 50%;
  display: block;
  margin: auto;
  padding: 10px;
}
.Output div {
  text-align: center;
  padding-bottom: 10px;
}
